.movie-library {
  .heading {
    font-family: 'Mylodon-Light', 'arial', 'sans-serif';
    text-align: center;
    color: #10B7FF;
    margin: 50px 0;
    letter-spacing: 4px;
  }

  .movie-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto 50px;
    padding: 0;
    list-style: none;

    .title {
      font-family: 'Mylodon-Light', 'arial', 'sans-serif';
      font-size: 18px;
      display: block;
      letter-spacing: 4px;
      margin-bottom: 10px;
    }

    .list-item-wrapper {
      width: 30%;
      min-height: 160px;
      border-radius: 3px;
      list-style-image: none;
      color: #10B7FF;
      cursor: pointer;
      text-align: center;
      margin-bottom: 23px;

      .list-item {
        border: 1px solid #10B7FF;
        height: 304px;
        max-width: 500px;
        overflow: hidden;
        margin-bottom: 10px;
        text-align: center;

        .poster {
          height: 100%;
          width: 100%;
          display: inline-block;
        }

        .poster:after {
          content: "";
          display: block;
          width: auto;
          height: 375px;
          margin-bottom: 100px;
        }
      }
    }
  }
}